@model IEnumerable<FurnitureShopApp.DAL.Models.Customer>

@{
    ViewData["Title"] = "Клієнти магазину";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}

<div class="container">
    <div class="d-flex">
        <div class="col-9">
             <h1 class="float-left">Клієнти</h1>
        </div>
        <div class="col-3">
            <p><a asp-action="Index" class="btn btn-warning btn-block border-warning">Повернутись до загального списку</a></p>
            <p><a asp-action="Search" class="btn btn-outline-info btn-block border-info">Продовжити пошук</a></p>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Ідентифікатор клієнта
            </th>
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                Пошта Email
            </th>
            <th>
                Номер телефону
            </th>
            <th>
                Знижка на товар
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustPhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-outline-warning btn-block border-warning">Редагувати</a>
                <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-outline-info btn-block border-info">Деталі</a>
                <a asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-outline-danger btn-block border-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
