@model IEnumerable<FurnitureShopApp.DAL.Models.EmployeePosition>

@{
    ViewData["Title"] = "Посади працівників";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="d-flex">
        <div class="col-9">
             <h1 class="float-left">Посади працівників</h1>
        </div>
        <div class="col-3">
            <p><a asp-action="Index" class="btn btn-warning btn-block border-warning">Повернутись до загального списку</a></p>
            <p><a asp-action="Search" class="btn btn-outline-info btn-block border-info">Продовжити пошук</a></p>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Ідентифікатор посади
            </th>
            <th>
                Назва посади
            </th>
            <th>
                Місячний оклад
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PositionId" class="btn btn-outline-warning btn-block border-warning">Редагувати</a>
                <a asp-action="Details" asp-route-id="@item.PositionId" class="btn btn-outline-info btn-block border-info">Деталі</a>
                <a asp-action="Delete" asp-route-id="@item.PositionId" class="btn btn-outline-danger btn-block border-danger">Видалити</a>
            </td>
        </tr>
        }
    </tbody>
</table>