@model IEnumerable<FurnitureShopApp.DAL.Models.Employee>

@{
    ViewData["Title"] = "Працівники";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="d-flex">
        <div class="col-9">
             <h1 class="float-left">Працівники</h1>
        </div>
        <div class="col-3">
            <p><a asp-action="Index" class="btn btn-warning btn-block border-warning">Повернутись до загального списку</a></p>
            <p><a asp-action="Search" class="btn btn-outline-info btn-block border-info">Продовжити пошук</a></p>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Ідентифікатор працівника
            </th>
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                Серія паспорту
            </th>
            <th>
                Дата працевлаштування
            </th>
            <th>
                Посада
            </th>
            <th>
                Місце роботи
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.ShopAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-outline-warning btn-block border-warning">Редагувати</a>
                <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-outline-info btn-block border-info">Деталі</a>
                <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-outline-danger btn-block border-danger">Видалити</a>
            </td>
        </tr>
        }
    </tbody>
</table>
