@model FurnitureShopApp.DAL.Models.Furniture

@{
    ViewData["Title"] = "Каталог меблів";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Ви справді хочете видалити цей запис?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FurnitureName)
        </dd>
        <dt class="col-sm-2">
            Матеріал
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class="col-sm-2">
            Колір
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            Гарантія
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guarantee)
        </dd>
        <dt class="col-sm-2">
            Опис
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Компанія - виробник
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.ComName)
        </dd>
        <dt class="col-sm-2">
            Підтип товару
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtype.SubtypeName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CatalogId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до списку</a>
    </form>
</div>
